body {
  background-color: darkgray;
}


.current-project-task {
  margin-top: 6px;
  background-color : #B0A8B9;
  color : white;
  font-weight: bold;
  height : 40px;
}

.item {
  height: 32px;
  border:  #ced4da solid 1px;
  background-color: white;
  
  input[type="checkbox"] {
      zoom: 1.5;
      margin-left: 3px;

  }
  span {
      margin: auto 0;
      cursor: pointer;
      &:hover {
      color: #563d7c;
    }
  }
}

.active {
  background-color : #B0A8B9;
  color: white;
  font-weight: bold;
}

.line-through {
  text-decoration-line: line-through;
}

.opacity {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

.default-hidden {
  display: none;
}